/*************************************
GENERAL
*************************************/
body {
	text-align:center;
	background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


table {
	text-align:left;
	margin: 0px auto;
    border-collapse: collapse;
    border: 1px;
}

td {
  background:#dee;
  padding: 0.7rem;
}

tr:first-child td { background: hsl(150, 90%, 70%); }



a,
a:hover,
a:focus,
a:active,
a.active {
    text-decoration: none;
}

.title {
    margin-top:50px;
    margin-bottom: 25px;
    font-size: 22px;
    font-weight:bold;
    line-height: 5px;
}

h3 {
	color:#62eac2;
    margin-top:0px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight:bold;
    line-height: 5px;
}

.item {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  cursor: hand;
}

.item:hover,.item:active,.item:focus,.item.active{
    border-color:  #62eac2;
    color: #fff;
    background-color: #62eac2;
}

.hide{display:none;}
.height{height:45px;overflow:auto;}



iframe {
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
}


.copyrights
{
    font-size:12px;
    line-height: 4px;
    color:#62eac2;
    font-weight:bold;
    opacity: 0.5;
}